{% extends 'base.html' %}

{% block title %}Food Tracker | Home{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <section class="hero-section bg-dark py-4">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
              <h1 class="text-center">Diet Tracker<br/> Problem Statement</h1>
              <p class="text-center">Django application for tracking the diet for the health conscious people. User should able to input the food items with nutrients breakdown like carbs, proteins, fats and calories. User can view these breakdown in the form of graphs or pie charts so, the user will get clear idea about his diet.
              </p>
            </div>
            <div class="col-md-6">
              <img src="https://www.news-medical.net/images/news/ImageForNews_712324_16514604802736596.jpg" alt="Hero Image" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
</div>
{% endblock %}